USE [master]
GO
/****** Object:  Database [dbRestaurante]    Script Date: 14/1/2019 16:57:17 ******/
CREATE DATABASE [dbRestaurante]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRestaurante', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSTANDARD\MSSQL\DATA\dbRestaurante.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbRestaurante_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSTANDARD\MSSQL\DATA\dbRestaurante_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRestaurante].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRestaurante]
GO
USE [dbRestaurante]
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 14/1/2019 16:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesas](
	[idMesa] [int] IDENTITY(1,1) NOT NULL,
	[Ubicacion] [varchar](150) NULL,
	[Estado] [text] NULL,
	[Consumo] [money] NULL,
	[CantSillas] [int] NULL,
 CONSTRAINT [PK_Mesas] PRIMARY KEY CLUSTERED 
(
	[idMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mesas] ON 

INSERT [dbo].[Mesas] ([idMesa], [Ubicacion], [Estado], [Consumo], [CantSillas]) VALUES (8, N'nuevo', N'No disponible', 46.0000, 4)
INSERT [dbo].[Mesas] ([idMesa], [Ubicacion], [Estado], [Consumo], [CantSillas]) VALUES (10, N'central', N'Disponible', 150.0000, 5)
INSERT [dbo].[Mesas] ([idMesa], [Ubicacion], [Estado], [Consumo], [CantSillas]) VALUES (14, N'central', N'No disponible', 150.0000, 5)
SET IDENTITY_INSERT [dbo].[Mesas] OFF
USE [master]
GO
